MusicPlayer/RSAKey
MusicPlayer/usr/userHash
MusicPlayer/apk/apk_his.7z
MusicPlayer/apk/*b.apk
MusicPlayer/apk/
MusicPlayer/egmusic
MusicPlayer/bak
MusicPlayer/usr2/shaKey
MusicPlayer/usr2/userHash
MusicPlayer/usr_o
MusicPlayer/*.bak
MusicPlayer/*/*.bak
debug*